{% extends "layout.html" %}
{% block content %}
    <div class="form">
        {% if not add_answer %}
            {% if current %}
                <h1>Edit your question</h1>
            {% else %}
                <h1>Add your question</h1>
            {% endif %}
        {% else %}
            <h1>Add your answer</h1>
        {% endif %}
        <form action="{{ url_for('route_form') }}" method="post" enctype=multipart/form-data>
            {% if not add_answer %}
                <label for="title">Title:</label>
                <input  id='title' name="title" type="text" {% if current %} value="{{ current['title'] }}" {% endif %} required>
            {% endif %}
             <label for="message">Message:</label>
             <textarea id="message" name="message" rows="10" cols="40" required>{% if current %} {{ current['message'] }} {% endif %} </textarea>
             <label for="file">Image:</label>
             <input type="file" id="file" name="file" {% if current %} value="{{ current['image'] }}" {% endif %}>
            {% if not add_answer %}
                <input type="submit" {% if current %} value="Edit question" {% else %} value="Submit question" {%  endif %}>
            {% else %}
                <input type="submit" value="Submit answer">
            {% endif %}
        </form>
    </div>
{% endblock %}