{% extends "layout.html" %}
{% block content %}
    <div class="form">
        {% if not add_answer  and not add_comment%}
            {% if current_answer %}
                <h1>Edit your answer</h1>
            {% elif current %}
                <h1>Edit your question</h1>
            {% else %}
                <h1>Add your question</h1>
            {% endif %}
        {% else %}
            {% if add_comment %}
                <h1>Add your comment</h1>
            {% else %}
                <h1>Add your answer</h1>
            {% endif %}
        {% endif %}
        <form {% if not add_answer and not current and not current_answer and not add_comment %} action="{{ url_for('route_form') }}"
                {% elif add_answer and not current and not current_answer and not add_comment %} action="/question/{{ question_id }}/new_answer"
                {% elif current_answer and not current and not add_answer and not add_comment %} action="/answer/{{ answer_id }}/edit"
                {% elif add_comment  and not current and not add_answer%} action="/question/{{ question_id }}/new_comment"
                {% else %} action="/question/{{ question_id }}/edit" {% endif %}
                method="post" enctype=multipart/form-data>
            {% if not add_answer and not current_answer and not add_comment %}
                <label for="title">Title:</label>
                <input  id='title' name="title" type="text" {% if current %} value="{{ current['title'] }}" {% endif %} required>
            {% endif %}
             <label for="message">Message:</label>
             <textarea id="message" name="message" rows="10" cols="40" required>{% if current %} {{ current['message'] }}
                {% elif current_answer %} {{ current_answer['message'] }} {% endif %} </textarea>
            {% if not add_comment %}
                <label for="file">Image:</label>
                <input type="file" id="file" name="file" {% if current %} value="{{ current['image'] }}"
                   {% elif current_answer %} value="{{ current_answer['image'] }}" {% endif %}>
            {% endif %}
            {% if not add_answer and not add_comment and not current_answer%}
                <input type="submit" {% if current %} value="Edit question" {% else %} value="Submit question" {%  endif %}>
            {% elif not add_answer %}
                <input type="submit" {% if add_comment %} value="Submit comment" {% elif current_answer %} value="Edit answer" {%  endif %}>
            {% else %}
                <input type="submit" value="Submit answer">
            {% endif %}
        </form>
    </div>
{% endblock %}