{% extends "layout.html" %}
{% block content %}
    <div class="form">
        {% if current_comment %}
            <h1>Edit your comment</h1>
        {% else %}
            <h1>Add your comment</h1>
        {% endif %}
        {% if question_comment %}
            <form {% if current_comment %} action="/comment/{{ comment_data.id }}/edit" {% else %}
                                           action="/question/{{ question_id }}/new_comment" {% endif %}
                    method="POST">
                <label for="message">Message:</label>
                <textarea id="message" name="message" rows="10" cols="40" required>{% if current_comment %}{{ comment_data.message }}{% endif %}
                </textarea>
                <input type="submit" {% if current_comment %} value="Edit comment" {% else %} value="Submit comment" {% endif %}>
            </form>
        {% else %}
            <form {% if current_comment %} action="/answer/{{ answer_id }}/edit_comment" {% else %}
                                           action="/answer/{{ answer_id }}/new_comment" {% endif %}
                   method="POST">
                <label for="message">Message:</label>
                <textarea id="message" name="message" rows="10" cols="40" required>{% if current_comment %}{{ comment_data.message }}{% endif %}
                </textarea>
                <input type="submit" {% if current_comment %} value="Edit comment" {% else %} value="Submit comment" {% endif %}>
            </form>
        {% endif %}
    </div>
{% endblock %}