{% extends "layout.html" %}
{% block content %}
    <h1>Ask Mate!</h1>
    <h2>Questions</h2>
    <a class="link" href="{{ url_for('route_form') }}">Ask a question</a>
    <div class="flex-container">
        <div class="choices">
            <form {% if is_all %} action="{{ url_for('route_all_questions') }}" {% else %} action="{{ url_for('route_index') }}"
                    {%  endif %} method="get">
                <label for="order_by">Sort by: </label>
                <select name="order_by" id="order_by">
                    <option value="submission_time" selected>Submission time</option>
                    <option value="title">Title</option>
                    <option value="view_number">View number</option>
                    <option value="vote_number">Vote number</option>
                </select>
                <label for="order_direction">Order direction: </label>
                <select name="order_direction" id="order_direction">
                    <option value="ASC">Ascending order</option>
                    <option value="DESC">Descending order</option>
                </select>
                <input type="submit" value="Sort questions">
            </form>
            <a href="{{ url_for('route_all_questions') }}">See all questions</a>
        </div>
        <div class="questions">
             <ul>
                {% for item in questions %}
                    <li><div {% if item['id'] is even %} class="even clearfix" {% else %} class="odd clearfix" {% endif %}>
                        {% if item["image"] %}
                            <img src="{{ url_for("static", filename=item['image']) }}" alt="message-image">
                        {% else %}
                            <img src="{{ url_for("static", filename="images/question-mark.jpeg") }}" alt="message-image">
                        {% endif %}
                        <p>{{ item["submission_time"] }}</p>
                        <p><a href="question/{{ item['id'] }}">{{ item["title"] }}</a></p>
                        <p>{{ item["message"] }}</p>
                    </div></li>
                {%  endfor  %}
            </ul>
        </div>
    </div>

{% endblock %}