{% extends "layout.html" %}
{% block content %}
    <h1>Ask Mate!</h1>
    <h2>Questions</h2>
    <a href="/form">Ask a question</a>
    <ul>
        {% for item in questions %}
            <li><div>
                <p>{{ item["submission_time"] }}</p>
                <a href="/question"><p>{{ item["title"] }}</p></a>
                <p>{{ item["message"] }}</p>
                {% if item["image"] %}
                    <img src="{{ url_for("static", filename=item['image']) }}" alt="message-image">
                {% else %}
                    <img src="{{ url_for("static", filename="images/question-mark.jpeg") }}" alt="message-image">
                {% endif %}
            </div></li>
        {%  endfor  %}
    </ul>
{% endblock %}