<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8">
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/qa.png') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class="container">
            <nav>
                <ul>
                    <li class="left"><img src="{{ url_for('static', filename='images/qa.png') }}" alt="logo"></li>
                    <li class="left">"The answers are easy if you have the right questions."</li>
                    <li><a href="{{ url_for('route_index') }}">Home</a></li>
                    {% if  status == "logged_in" %}
                        <li><a href="{{ url_for('route_logout') }}" >Logout</a></li>
                    {% elif status == "sign_up" %}
                        <li><a href="{{ url_for('route_login') }}">Login</a></li>
                        <li><a href="{{ url_for('route_sign_up') }}">Sign up</a></li>
                    {% endif %}
                </ul>
            </nav>
            <main>
                {% block content %} {% endblock %}
            </main>
            <footer>
                <p>Made by: Gergely Geiszlinger, Réka Pető and Zsuzsanna Benkő</p>
            </footer>
        </div>
    </body>
</html>