{% extends 'layout.html' %}

{% block content %}
    {% if sign_up %}
        <h1 class="reg-title">Registration page</h1>
    {% elif login %}
        <h1 class="reg-title">Login page</h1>
    {% endif %}
    <div class="reg-container">
        <form {% if sign_up %} action="#" {% elif login %} action="#" {% endif %} method="POST" class="reg">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            <label for="password">Password:</label>
            {% if sign_up %}
                <input type="text" id="password" name="password">
            {% elif login %}
                <input type="password" id="password" name="password">
            {% endif %}
            <input type="submit" value="Submit">
        </form>
        {% if message %}
        <p>Sorry, your username or password is incorrect.</p>
        {% endif %}
    </div>
{% endblock %}