{% extends "layout.html" %}
{% block content %}
    <h1>Answer Mate!</h1>
    <div class="chosen-question clearfix">
        {% if chosen_question["image"] %}
            <img src="{{ url_for("static", filename=chosen_question['image']) }}" alt="message-image">
        {% else %}
                <img src="{{ url_for("static", filename="images/question-mark.jpeg") }}" alt="message-image">
        {% endif %}
        <p><span>Date: </span>{{ chosen_question["submission_time"] }}</p>
        <p>{{ chosen_question["title"] }}</p>
        <p>{{ chosen_question["message"] }}</p>

        <p><span>Views: </span><span>{{ chosen_question["view_number"] }}</span><span>Votes: </span><span>{{ chosen_question["vote_number"] }}</span></p>
        <div class="question-options">
            <div><a href="/question/{{ chosen_question["id"] }}/vote-up" class="link">Vote up!</a></div>
            <div><a href="/question/{{ chosen_question["id"] }}/vote-down" class="link">Vote down!</a></div>
            <div><a href="/question/{{ chosen_question["id"] }}/edit" class="link">Edit question</a></div>
            <div><a href="{{ chosen_question['id']}}/delete" class="link">Delete question</a></div>
        </div>
        <div class="question-comments">
            <h3>Comments: </h3>
            {% for comment in question_comments %}
                <div class="comment">
                    <p><span>{{ comment.submission_time }} </span>
                        <span>{% if comment.edited_count %} (Edited: {{ comment.edited_count }} times)
                        {% else %} (Edited: 0 times) {% endif %}</span></p>
                    <p>{{ comment.message }}</p>
                </div>
            {% endfor %}
            <a class="link" href="/question/{{ chosen_question["id"] }}/new_comment">Add a comment</a>
        </div>
    </div>

    <h2 id="answer-h2">Answers:</h2>
    <div class="answers">
        <ul>
        {% for item in answers %}
            <li><div {% if loop.index is even %} class="even clearfix" {% else %} class="odd clearfix" {% endif %}>
                {% if item["image"] %}
                    <img src="{{ url_for("static", filename=item['image']) }}" alt="message-image">
                {% endif %}
                <p><span>Date: </span>{{item["submission_time"]}}</p>
                <p>{{item["message"]}}</p>
                <p><span>Votes: </span>{{item["vote_number"]}}</p>
                <div class="answer-options">
                    <div><a href="/answer/{{ item["id"] }}/vote-up" class="link">Vote up!</a></div>
                    <div><a href="/answer/{{ item["id"] }}/vote-down" class="link">Vote down!</a></div>
                    <div><a href="/answer/{{ item["id"] }}/edit" class="link">Edit answer</a></div>
                    <div><a href="/answer/{{ item['id']}}/delete" class="link">Delete answer</a></div>
                </div>
                <div class="answer-comments">
                    <h3>Comments:</h3>
                   {% for comment in answer_comments %}
                        {% if comment.answer_id == item["id"] %}
                            <div class="comment">
                            <p><span>{{ comment.submission_time }} </span>
                                <span>{% if comment.edited_count %} (Edited: {{ comment.edited_count }} times)
                                {% else %} (Edited: 0 times) {% endif %}</span></p>
                            <p>{{ comment.message }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <a class="link" href="/answer/{{ answers[0]["id"] }}/new_comment">Add a comment</a>
                </div>
            </div></li>
        {%  endfor  %}
        </ul>
    </div>
    <a id="add-answer" class="link" href="{{ chosen_question['id']}}/new_answer">Add your own answer</a>

{% endblock %}