{% extends "layout.html" %}
{% block content %}
    <h1>Answer Mate!</h1>
    <ul>
        <li><div>
            <p>{{ chosen_question["submission_time"] }}</p>
            <p>{{ chosen_question["title"] }}</p>
            <p>{{ chosen_question["message"] }}</p>
            {% if chosen_question["image"] %}
                    <img src="{{ url_for("static", filename=chosen_question['image']) }}" alt="message-image">
            {% else %}
                    <img src="{{ url_for("static", filename="images/question-mark.jpeg") }}" alt="message-image">
            {% endif %}
            <p>{{ chosen_question["view_number"] }}</p>
            <p>{{ chosen_question["vote_number"] }}</p>
        </div></li>
    </ul>
    <a href="{{ chosen_question['id']}}/delete">Delete question</a>
    <h1>Answers:</h1>
    <ul>
        {% for item in answers %}
            <li><div>
                <p>{{chosen_question["submission_time"]}}</p>
                <p>{{chosen_question["message"]}}</p>
                <p>{{chosen_question["vote_number"]}}</p>
                <a href="http://0.0.0.0:8000/answer/{{ item['id']}}/delete">Delete answer</a>
            </div></li>
        {%  endfor  %}
    </ul>
    <a href="{{ chosen_question['id']}}/new_answer">Add your own answer</a>
{% endblock %}