{% extends "layout.html" %}
{% block content %}
    <h1>Answer Mate!</h1>
    <div>
        <p>Date: {{ chosen_question["submission_time"] }}</p>
        <p>{{ chosen_question["title"] }}</p>
        <p>{{ chosen_question["message"] }}</p>
        {% if chosen_question["image"] %}
                <img src="{{ url_for("static", filename=chosen_question['image']) }}" alt="message-image">
        {% else %}
                <img src="{{ url_for("static", filename="images/question-mark.jpeg") }}" alt="message-image">
        {% endif %}
        <p>Views: {{ chosen_question["view_number"] }}</p>
        <p>Votes: {{ chosen_question["vote_number"] }}</p>
        <a href="/question/{{ chosen_question["id"] }}/vote-up">Vote up!</a>
        <a href="/question/{{ chosen_question["id"] }}/vote-down">Vote down!</a>
        <a href="/question/{{ chosen_question["id"] }}/edit">Edit question</a>
        <a href="{{ chosen_question['id']}}/delete">Delete question</a>
    </div>

    <h1>Answers:</h1>
    <ul>
        {% for item in answers %}
            <li><div>
                <p>Date: {{item["submission_time"]}}</p>
                <p>{{item["message"]}}</p>
                <p>Votes: {{item["vote_number"]}}</p>
                {% if item["image"] %}
                    <img src="{{ url_for("static", filename=item['image']) }}" alt="message-image">
                {% endif %}
                <a href="/answer/{{ item["id"] }}/vote-up">Vote up!</a>
                <a href="/answer/{{ item["id"] }}/vote-down">Vote down!</a>
                <a href="/answer/{{ item['id']}}/delete">Delete answer</a>
            </div></li>
        {%  endfor  %}
    </ul>
    <a href="{{ chosen_question['id']}}/new_answer">Add your own answer</a>
{% endblock %}